# .vscode/
.github/
build/
Camera/
logs/
assets/img_with_q/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
records_outpost/
sp_ws/install
sp_ws/log
bin/
yolo_buff/
慢/
中/
快/